.cycle-imgs-container {
    width: 1200px;
    height: 560px;
    margin: 0 auto;
    background-color: rgba(200, 242, 248, 0.4);
    font-size: 0;
}

/* 轮播图 */

.cycle_img_box {
    position: relative;
    float: left;
    width: 90%;
    height: 100%;
    background-color: rgba(63, 59, 59, 0.4);
}

.img_box, .btn_left_box, .btn_right_box, .img_title {
    position: absolute;
}

.img_box {
    position: relative;
    width: 100%;
    height: 100%;
}

._c {
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn_left_box, .btn_right_box {
    height: 50px;
    line-height: 50px;
    width: 50px;
    background-color: rgba(37, 39, 37, 0);
    font-size: 40pt;
    text-align: center;
    border-radius: 50px;
    /* display: none; */
    /* visibility: hidden; */
    cursor: pointer;
}

.btn_left_box:hover, .btn_right_box:hover {
    background-color: rgba(37, 39, 37, 0.4);
}

.btn_left_box img, .btn_right_box img {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.btn_left_box:hover img, .btn_right_box:hover img {
    opacity: 0.8;
}

.btn_left_box {
    left: 2%;
    top: 265px;
}

.btn_right_box {
    left: 93.5%;
    top: 265px;
}

.img_title {
    width: 100%;
    height: 8%;
    top: 92%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #eee;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 0;
}

.title, .time {
    /* display: inline-block; */
    float: left;
    /* background-color: rgba(56, 76, 100, 0.4); */
    font-size: 14pt;
    line-height: 46.4px;
}

.title a {
    font-size: 14pt;
    line-height: 46.4px;
    color: #fff;
}

.bull_box {
    float: right;
    /* display: inline-block; */
    /* background-color: rgba(44, 67, 200, 0.4); */
    width: 100px;
    height: 10px;
    font-size: 0;
    margin-top: 18.2px;
    margin-right: 20px;
}

.bull {
    /* display: inline-block; */
    float: left;
    /* float: right; */
    width: 10px;
    height: 10px;
    background-color: #eee;
    border-radius: 10px;
    cursor: pointer;
}

.bull:hover {
    background-color: #e00;
}

/* 轮播图 */

.qrcode_box {
    float: left;
    width: 120px;
    height: 560px;
}

.qrcode_inner_box {
    width: 96px;
    left: 12px;
    /* background-color: rgba(100, 100, 200, 0.4); */
    margin-top: 10px;
    font-size: 0;
}

.qrcode_inner_box img {
    width: 96px;
    height: 96px;
}

.qrcode_img {
    width: 96px;
    height: 96px;
}

.qrcode_title {
    display: inline-block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 11pt;
    /* background-color: red; */
}

/* ******************************************* */

.cycle-imgs-container div:nth-child(1) div:nth-child(1) {
    float: left;
}

.dtjt9_div_text {
    width: 100%;
    height: 80px;
    /* line-height: 50px; */
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.dtjt9_div_text .dtjt9_div_text_title {
    left: 2%;
    width: 80%;
    height: 80px;
    /* line-height: 50px; */
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
}

.dtjt9_div_text .dtjt9_div_text_title a {
    background-color: rgba(0, 0, 0, 0);
    display: inline;
    line-height: 50px;
    color: #fff;
    font-size: 14pt;
    font-weight: bold;
}

.dtjt9_div_img .number {
    z-index: 1000;
    position: absolute;
    bottom: 20px;
}

.dtjt9_div_img .number .nomal {
    width: 10px;
    height: 10px;
    line-height: 16px;
    display: block;
    text-align: center;
    opacity: 0.7;
    background: rgb(226, 226, 226);
    float: left;
    color: #FFF;
    margin-right: 5px;
    border: 0px solid #FFF;
    font-size: 12px;
    TEXT-DECORATION: none;
    border-radius: 10px;
}

.dtjt9_div_img .number .current {
    width: 10px;
    height: 10px;
    line-height: 16px;
    display: block;
    text-align: center;
    opacity: 0.7;
    background: red;
    float: left;
    color: #FFF;
    margin-right: 5px;
    border: 0px solid #FFF;
    font-size: 12px;
    TEXT-DECORATION: none;
    border-radius: 10px;
}