.scholar-cooperation-container {
    width: 1200px;
    /* height: 200px; */
    margin: 0 auto;
    font-size: 0;
}

.partner-container {
    width: 1200px;
    margin: 0 auto;
}

/* **************************************************** */

.expert-scholar-box {
    float: left;
    width: 60%;
    /* background-color: rgba(23, 14, 109, 0.4); */
}

.cooperation-exchange-box {
    float: left;
    width: 38%;
    /* left: 2%; */
    /* background-color: rgba(92, 12, 12, 0.4); */
}

/* **************************************************** */

.left-card-box, .right-card-box {
    float: left;
    width: 46%;
    /* background-color: rgba(92, 12, 12, 0.4); */
    left: 2%;
}

.right-card-box {
    left: 6%;
}

/* **************************************************** */

.sch-title {
    padding-right: 30px;
}

.scholar-card {
    float: left;
    width: 30%;
    height: 110px;
    /* background-color: rgba(92, 12, 12, 0.4); */
}

.scholar-card:nth-child(n+4) {
    margin-top: 25px;
}

.scholar-card:nth-child(3n) {
    float: left;
    left: 10%;
}

.scholar-card:nth-child(3n+2) {
    float: left;
    left: 5%;
}

.scholar-card:nth-child(3n+1) {
    float: left;
    left: 0%;
}

.scholar-img {
    display: block;
    width: 100%;
    height: 90px;
}

.scholar-img img {
    width: 100%;
    height: 100%;
}

.scholar-name {
    display: block;
    width: 100%;
    height: 20px;
    text-align: center;
}

.scholar-name a {
    line-height: 20px;
    font-size: 10pt;
    color: #333;
}

/* **************************************************** */

.coo-card-box {
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

.coo-card {
    width: 100%;
    background-color: rgba(250, 246, 246, 0.4);
}

.coo-img-box {
    display: block;
    width: 100%;
    height: 220px;
}

.coo-img-box img {
    width: 100%;
    height: 100%;
}

.coo-title {
    position: absolute;
    display: block;
    width: 94%;
    box-sizing: border-box;
    padding: 0 10px;
    height: 25px;
    background-color: rgba(86, 95, 86, 0.7);
    bottom: 40px;
    left: 3%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.coo-title a {
    color: #fff;
    font-weight: bold;
    font-size: 10pt;
}

.coo-title a:hover {
    color: rgb(243, 53, 53);
}

.coo-detail {
    position: absolute;
    display: inline-block;
    width: 94%;
    box-sizing: border-box;
    padding: 0 10px;
    height: 60px;
    background-color: rgba(86, 95, 86, 0.7);
    bottom: -20px;
    left: 3%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.coo-detail span {
}

.coo-detail span a {
    color: #ddd;
    line-height: 20px;
    font-size: 6pt;
}

/* **************************************************** */

.partner-label-box {
    float: left;
    /* width: 30%; */
    width: 1200px;
    height: 120px;
    background-color: rgba(189, 196, 196, 0.747);
}

.partner-label-box:nth-child(3n) {
    left: 5%;
}

.partner-label-box:nth-child(3n+2) {
    left: 2.5%;
}

.partner-label-box:nth-child(3n+1) {
    left: 7.5%;
}

.partner-label {
    display: inline-block;
    height: 20px;
    padding: 0 10px;
}

.partner-label a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: 10pt;
    color: #333;
}

.partner-label a:hover {
    text-decoration: underline;
    color: rgb(107, 51, 51);
}

/* ********************************** */

.scholar-card-box {
    float: left;
    width: 720px;
    height: 515px;
}

.scholar-card {
    width: 90px;
    height: 110px;
}

.scholar-img {
    width: 90px;
    height: 90px;
}

.scholar-name {
    width: 90px;
    height: 20px;
}

.coo-card-box {
    float: left;
    width: 456px;
    height: 515px;
}

.coo-card {
    box-sizing: border-box;
    float: left;
    width: 236px;
    height: 220px;
}

/* *********************************************** */

.partner-label-box tr{
    display: inline;
}